body {
    background-color: #1d171f;
    color: rgb(250, 237, 242);;
}
.navbar ul{
    list-style-type: none;
    padding: 0%;
    max-width: fit-content;
    margin: auto;
    overflow: hidden;
    font-family: 'Plus Jakarta Sans', Inter;
    font-size: 14px;
    font-weight: 500;
}
.navbar a{
    color: rgb(191, 50, 100);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar li{
    float:left;
    margin-top: 4.8px;
}
.navbar li:first-child {
    margin-right: 419px;
    margin-top: 0px;
}