body {
    background-color: #1d171f;
    color: rgb(250, 237, 242);;
}
.navbar ul{
    list-style-type: none;
    padding: 0%;
    max-width: fit-content;
    margin: auto;
    overflow: hidden;
    font-family: 'Plus Jakarta Sans', Inter;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
}
.navbar a{
    color: rgb(191, 50, 100);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar li {
    margin-top: 4.8px;
    display: flex;
    width: 100px
}
.navbar li:first-child {
    margin-right: 0px;
    margin-top: 0px;
}
.introduction{
    font-family: 'Plus Jakarta Sans', Inter;
    font-size: 16px;
    line-height: 1.5;
    margin: 10px 0;
    padding: 10px;
    max-width: 650px;
    margin: 0 auto;
}
.introduction h3{
    font-size: 20px;
    margin-bottom: 15px;
}